# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

\.project

\.cproject

\.settings/

*.sublime-project

*.sublime-workspace

# For IPv6
IPv6Addressing/messaging/bin/
IPv6Addressing/tmp/
*.csv
IPv6Addressing/results/


# For Python
TestApps/PageRank/bin
TestApps/PageRank/build
TestApps/PageRank/include
TestApps/PageRank/lib
TestApps/PageRank/local
TestApps/PageRank/share

# Cost
TestApps/Cost/single/cache

IPv6Addressing/pox/

IPv6Addressing/oftest/

IPv6Addressing/openflow/

IPv6Addressing/ltmain\.sh

IPv6Addressing/oflops/

IPv6Addressing/0
