[submodule "IPv6Addressing/mininet"]
	path = IPv6Addressing/mininet
	url = https://github.com/mininet/mininet
[submodule "IPv6Addressing/ryu"]
	path = IPv6Addressing/ryu
	url = https://github.com/osrg/ryu
[submodule "Legacy_Code/ndpproxy"]
	path = Legacy_Code/ndpproxy
	url = https://github.com/DanielAdolfsson/ndppd
